{{- if and .Values.dataCoordinator.enabled .Values.cluster.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "milvus.datacoord.fullname" . }}
  labels:
{{ include "milvus.labels" . | indent 4 }}
    component: "datacoord"
spec:
  replicas: 1
  selector:
    matchLabels:
{{ include "milvus.matchLabels" . | indent 6 }}
      component: "datacoord"
  template:
    metadata:
      labels:
{{ include "milvus.matchLabels" . | indent 8 }}
        component: "datacoord"
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      {{- if .Values.image.all.pullSecrets }}
      imagePullSecrets:
      {{- range .Values.image.all.pullSecrets }}
        - name: {{ . }}
      {{- end }}
      {{- end }}
      containers:
      - name: datacoord
        image: "{{ .Values.image.all.repository }}:{{ .Values.image.all.tag }}"
        imagePullPolicy: {{ .Values.image.all.pullPolicy }}
        args: [ "milvus", "run", "datacoord" ]
        {{- if .Values.dataCoordinator.extraEnv }}
        env:
          {{- toYaml .Values.dataCoordinator.extraEnv | nindent 10 }}
        {{- end }}
        ports:
          - name: datacoord
            containerPort: 13333
            protocol: TCP
          {{- if .Values.metrics.enabled }}
          - name: metrics
            containerPort: 9091
            protocol: TCP
          {{- end }}
        resources:
          {{- toYaml .Values.dataCoordinator.resources | nindent 10 }}
        volumeMounts:
        - name: milvus-config
          mountPath: /milvus/configs/milvus.yaml
          subPath: milvus.yaml
          readOnly: true

      {{- with .Values.dataCoordinator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dataCoordinator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dataCoordinator.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      volumes:
      - name: milvus-config
        configMap:
          name: {{ template "milvus.fullname" . }}
{{- end }}