name: Helm

# This workflow is triggered on pushes or pull request to the repository.
on:
  push:
    # file paths to consider in the event. Optional; defaults to all.
    paths:
      - 'charts/**'
      - 'ct.yaml'
      - '.github/workflows/lint-test.yml'
      - '!**.md'
      - '!**.txt'
  pull_request:
    # file paths to consider in the event. Optional; defaults to all.
    paths:
      - 'charts/**'
      - 'ct.yaml'
      - '.github/workflows/lint-test.yml'
      - '!**.md'
      - '!**.txt'

jobs:
  lint-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      # This step checks out a copy of your repository.
      - name: Checkout Milvus Helm
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - name: Add dependency chart repos
        run: |
          helm repo add kafkaesque https://helm.kafkaesque.io
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add minio https://helm.min.io/

      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint

      - name: Create KinD cluster
        uses: helm/kind-action@v1.2.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: ct install
